*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
}
body {
    background: linear-gradient;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.back {
    padding: 32px 0;
    background-color: #2A39;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.logo{
    font-size: 30px;
    color: #73D9E7;
    font-weight: 800;
    text-transform: uppercase;

}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #73D9E7;
}

#menu {
    display: none;

}

.menu-icono {
    width: 25px;

}

.menu label {
    cursor: pointer;
    display: none;

}

@media (max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }
    .back {
        padding: 50px 0;

    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2A394F;
        display: none;

    }
    
    .menu .navbar ul li {
        width: 100%;

    }

    #menu:checked ~ .navbar {
        display: initial;
    }
} 
img {
    max-width: 100%;

}

.header {
    display: flex;
    align-items: center;
    min-height: 50vh;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    flex-basis: 50px;
    margin-right: 40px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 1.4;
    color: #101010;
    margin-bottom: 35px;
}

p{
    font-size: 17px;
    color: azure;
    margin-bottom: 35px;
}

.noticias {
    width: 150px;
    margin-right: 15px;
}

.header-img {
    flex-basis: 50%;
    background: linear-gradient(
        rgba(0,0 ,0,0.4)
        rgba(0,0,0,0.4)
    ),
    url(images/txt-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}

.header-img img {
    margin-top: 85px;
}

.noticias2 {
    padding: 100px 0;
    text-align: center;
}

.noticias-content {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 20px;

}

.noticias-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item-a {
    grid-row: 1 / 3;

}

.item-b {
    grid-column: 3 / 5;

}

.item-c {
    grid-row: 2 / 4;
}

.item-d {
    grid-column: 3 / 5;

}

h2 {
    font-size: 30px;
    color: #101010;
    margin-bottom: 15px;
    
}





       






