*{
    /*estilo da letra general*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
/*estilo do body*/
body{
    margin: 0;
    background-color: #f1f1f1;

}
h1{
   
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 60px;


}
      /*header logo- cabeçalho*/
header{
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, rgba(137,40,241,1) 0%, rgba(34,196,113,1) 50%, rgba(71,107,214,1) 100%);
    color: white;
  

}
         /* Style the top navigation*/
.navbar {
            display: flex;
            flex-direction: column;
            background: linear-gradient(0deg, rgba(88,34,195,1) 0%, rgba(45,196,253,1) 100%);
}
.navbar  a {

    color: white;
    padding: 8px 15px;
    text-decoration: whitesmoke;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.3s;
}    
    
.navbar a:hover {
            background-color: cyan;
            color: black;
}    
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}


.side {
    flex: 30%;
    padding: 20px;
    order: 1;
  
}
.main{
    flex: 70%;
    padding: 20px;
    order: 0;
 
}

.n3{
    background-color: #949292;
    color: #fff;
    width: 100%;
    height: 200px;
    padding: 20px;
    border-bottom: 20px solid #f1f1f1;
}

.rodape {
    padding: 20px;
    text-align: center;
    background: aqua;
    color: black;
}
      /* Mobile estilo*/

@media only screen and (max-width: 400px) {
    .n3
    {
        background-color: #949292;
    }
    
}


@media only screen and (min-width: 401px) and (max-width: 960px) {
    .n3
    {
        background-color: #949292;
    }
    .row, .navbar {
        flex-direction: row;
    }
    .side{
        order: -1;
    }
    
}
@media only screen and (min-width: 960px) {
    .n3{
        background-color: #949292;

    }
    .row, .navbar {
        flex-direction: row;
    }
    .side{
        order: -1;
    }
    
    
}
                 





